---
import BaseLayout from "../layouts/BaseLayout.astro";
import settings from "../content/site/settings.json";
---

<BaseLayout title={"About"}>
  <section class="py-6">
    <h1 class="text-3xl font-bold tracking-tight md:text-4xl">
      Why us?
    </h1>
    <p class="mt-3 max-w-2xl text-base text-gray-700">
      We guarantee quality work
    </p>

    <h1 class="text-3xl font-bold tracking-tight md:text-4xl">
      How do I start?
    </h1>
    <p class="mt-3 max-w-2xl text-base text-gray-700">
      We are currently first come first serve only. Customers are more
      than welcome to wait at the shop, but we recommend dropping off
      the vehicle for longer services.
    </p>

    <h1 class="text-3xl font-bold tracking-tight md:text-4xl">
      Need your vehicle towed?
    </h1>
    <p class="mt-3 max-w-2xl text-base text-gray-700">
      If your vehicle doesn't run or is unsafe to drive, please have
      your vehicle towed to the shop for a diagnosis. We are also able
      to contact a third-party towing company to do everything for you,
      just give us a call at 757-856-1019 and provide us with your name,
      phone number, vehicle information and location.
    </p>

    <h1 class="text-3xl font-bold tracking-tight md:text-4xl">
      Waranty
    </h1>
    <p class="mt-3 max-w-2xl text-base text-gray-700">
      Waranty information (placeholder)
    </p>

  </section>
</BaseLayout>